MYSQL_DATABASE=deallock
MYSQL_USER=deallock
MYSQL_PASSWORD=deallock_pass
MYSQL_ROOT_PASSWORD=root_pass

SMTP_USER=you@gmail.com
SMTP_PASS=app_password_here

TERMII_API_KEY=
TERMII_SENDER_ID=
TERMII_SMS_CHANNEL=dnd
TERMII_WHATSAPP_SENDER=
TERMII_BASE_URL=https://api.ng.termii.com/api

APP_BASE_URL=http://your-domain.com
APP_ADMIN_PHONES=
