spring:
  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 1
  datasource:
    url: jdbc:mysql://mysql-uavu.railway.internal:3306/railway?useSSL=true&requireSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: jqqlgVmhXZiFWPMspGOYFaqAxGfyQALO
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SMTP_USER:}
    password: ${SMTP_PASS:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  base-url: https://deallockecommercefullstackspringboot-production.up.railway.app
  admin-phones: ""

twilio:
  account-sid: ""
  auth-token: ""
  phone-number: ""


server:
  forward-headers-strategy: native
  servlet:
    session:
      cookie:
        http-only: true
        secure: true
        same-site: strict
