spring:
  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 1
  datasource:
    url: jdbc:mysql://mysql-uavu.railway.internal:3306/railway?useSSL=true&requireSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: jqqlgVmhXZiFWPMspGOYFaqAxGfyQALO
  jpa:
    show-sql: false
    hibernate: 
     ddl-auto: update

  mail:
    host: smtp.gmail.com
    port: 587
    username: root
    password: jqqlgVmhXZiFWPMspGOYFaqAxGfyQALO
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  base-url: jdbc:mysql://mysql-uavu.railway.internal:3306/railway?useSSL=true&requireSSL=false&allowPublicKeyRetrieval=true


server:
  forward-headers-strategy: native
  servlet:
    session:
      cookie:
        http-only: true
        secure: true
        same-site: strict

