spring:
  application:
    name: backend
  devtools:
    restart:
      enabled: false
  flyway:
    enabled: false
  datasource:
    url: jdbc:mysql://localhost:3306/deallock?createDatabaseIfNotExist=true
    username: root
    password: Profisic1.
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

app:
  base-url: http://localhost:8080

server:
  port: 8080
